<template name="verifyPage">
  <div class="verifyPage">
    <div class="container">
      {{> loginorsignupPage}}
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="well text-center formContainer">
            <form role="form">
              <div class="control-group">
                <h3>Verifying...</h3>
              </div>   
              
              <div class="control-group">
                {{#with hasError}}
                  {{> error}}
                {{/with}}                 
              </div>
            </form>     
          </div>
        </div>          
      </div>        
    </div>
  </div>
</template>