<template name="postCreate">
  <!-- Modal -->
  <div class="modal fade" id="postCreate">
    <div class="modal-dialog">
      <div class="modal-content">      
        <div class="modal-body text-center">  
          <form>
            <div class="control-group">
              <div class="controls">
                <textarea name="posttext" class="form-control" rows="8" placeholder="I saw your azure eyes and felt in love ...."></textarea>
              </div>
            </div>   
            <div class="control-group text-right">
              <div class="form-btn">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <button type="submit" name="submit" class="btn btn-primary">Post</button>
              </div>
            </div>      
          </form>        
        </div>
      </div>
    </div>
  </div>
</template>